<template>
    <div> 
      <div class="render" v-html="svgFile"></div>   
    </div>
</template>

<script>

// import image 
import Image1 from '@/assets/About/view1.jpg'
//load json
import svgJson from '@/assets/FileJson/SM006_pwa_samphon_and_omnoi.json'

import io from "socket.io-client";
var socket = io.connect("http://localhost:4000");

//moment
var moment = require("moment");

export default {
  name: 'renderSvg',
  data () {
      return {
        imageName : Image1,
        about_name : this.$route.params.name,
        svgFile: svgJson.hmi.views[0].svgcontent,
        svgOjbType: {
          svgExtValue: "svg-ext-value",
          svgExtHtmlButton: "svg-ext-html_button",
          svgExtHtmlSelect: "svg-ext-html_select",
          svgExtHtmlChart: "svg-ext-html_chart",
          svgExtGaugeSemaphore: "svg-ext-gauge_semaphore"
        },
        wsData: {},
        station_name: this.$route.params.station_name,
        device_name: this.$route.params.device_name
      }
  },
  methods: {
    onload (){
      console.log(svgJson);
    },
     addConnect() {
      socket.emit('sensor_value', 'hello')
      socket.on('data', (payload) => {     
        console.log(socket.id)
        console.log("this is payload ")
        console.log(payload)
      })
      // this.socket = new WebSocket("ws://localhost:4000/sensor_value");
      // this.socket.onmessage = ({data}) => {
      //   var data = JSON.parse(data);
      //   console.log(data);
      //   this.wsData = data;

      //   // first loop
      //   for (const [key, value] of Object.entries(svgJson.hmi.views[0].items)) {
      //     // second loop
      //     data.data.forEach(element => { 

      //       //check value
      //       if (value.type == this.svgOjbType.svgExtValue && value.name === element.tag){
      //         if (element.tag === "date"){
      //           // console.log(element.value)
      //           document.getElementById(value.id).children[0].textContent = moment(element.value).format('MMMM DD YYYY, HH:mm:ss');
      //         }else{
      //           document.getElementById(value.id).children[0].textContent = element.value;
      //         }
      //       }

      //       // check object chage color
      //       if (value.type == this.svgOjbType.svgExtGaugeSemaphore && value.name === element.tag){
      //         value.property.ranges.forEach(function (inArr, i){
      //           var value_ = parseFloat(element.value);
      //           var min = parseFloat(inArr.min);
      //           var max = parseFloat(inArr.max);
      //           if (i == 0){
      //             if (value_ >= min && value_ <= max){
      //               document.getElementById(value.id).children[0].setAttribute("fill",value.property.ranges[i].color);
      //             }
      //           }else{
      //             if (value_ > min && value_ <= max){
      //               document.getElementById(value.id).children[0].setAttribute("fill",value.property.ranges[i].color);
      //             }
      //           }
      //         })
      //       }

      //     }); 
      //   }
      // };
    },
    disconnect() {
      this.socket.close();
      this.status = "disconnected";
      this.logs = [];
    },
    sendMessage(e) {
      this.socket.send(this.message);
      this.logs.push({ event: "Sent message", data: this.message });
      this.message = "";
    },
  },


  mounted(){
    this.onload();
    this.addConnect();
  }
}
</script>

<style>
  .render {
    display: inline;
  }
  /* .main-renderSvg {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  .img-show{
    height: 300px;
    width: 350px;
  } */
</style>
