<template>
  <div class="main-upload">
    <div class="container">
        <div class="large-12 medium-12 small-12 cell">
            <label>File
                <input type="file" @change="handleFileUpload"/>
            </label>
            <button @click="submitFile">Submit</button>
        </div>
        <br><hr>
        <div class ='show-text'>
            {{ contentJSON }}
        </div>
    </div>
  </div>
</template>

<script>

// import image 
import Image1 from '@/assets/About/view1.jpg'
//load json
import svgJson from '@/assets/FileJson/SM006_pwa_samphon_and_omnoi.json'

import io from "socket.io-client";

import uploadFile from '@/serviceAPIS/uploadFile'

//moment
var moment = require("moment");

export default {
  name: 'uploadFile',
  data () {
      return {
          file: "",
          contentJSON: "",
      }
  },
  methods:{
        handleFileUpload(e){
            var files = e.target.files || e.dataTransfer.files;
            console.log(e.target.result)
            var file = files[0];

            var image = new Image();
            var reader = new FileReader();

            reader.onload = (e) => {
                // console.log(e.target.result)
                this.contentJSON = e.target.result;
            };
            reader.readAsText(file);
        },
        async submitFile(){
            console.log(JSON.parse(this.contentJSON));
        },
  },



  /**
      methods: {
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            var image = new Image();
            var reader = new FileReader();
            var vm = this;

            reader.onload = (e) => {
                vm.image = e.target.result;
                console.log(e.target.result)
            };
            reader.readAsText(file);
        },
        removeImage: function (e) {
            this.image = '';
        }
    }
    **/
}
</script>

<style>
.main-upload {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.img-show{
  height: 300px;
  width: 350px;
}
</style>
