<template>
  <div class="about">
    <img class = "img-show" :src="imageName">
    <!-- <router-view/> -->
    <h2>This is About</h2>
    <h2><router-link class="nav-link" to="/Home">goto Home</router-link></h2>
    <h2><router-link class="nav-link" to="/About:john">goto About</router-link></h2>
    <h2><router-link class="nav-link" to="/HelloWorld">goto HelloWorld</router-link></h2>
    <h2><router-link class="nav-link" to="/Tutorial">goto Tutorial</router-link></h2>

    <br>

    <h2> {{about_name}} </h2>
  </div>
</template>

<script>

// import image 
import Image1 from '@/assets/About/view1.jpg'
/*
 * Working fiddle: https://jsfiddle.net/q83bnLrx/1/
There are different lifecycle hooks Vue provide:
I have listed few are :
1. beforeCreate: Called synchronously after the instance has just been initialized, before data observation and event/watcher setup.
2. created: Called synchronously after the instance is created. At this stage, the instance has finished processing the options which means the following have been set up: data observation, computed properties, methods, watch/event callbacks. However, the mounting phase has not been started, and the $el property will not be available yet.
3. beforeMount: Called right before the mounting begins: the render function is about to be called for the first time.
4. mounted: Called after the instance has just been mounted where el is replaced by the newly created vm.$el.
5. beforeUpdate: Called when the data changes, before the virtual DOM is re-rendered and patched.
6. updated: Called after a data change causes the virtual DOM to be re-rendered and patched.
 */
export default {
  name: 'About',
  data () {
      return {
        imageName : Image1,
        about_name : this.$route.params.name
      }
  },
  methods: {
    onload: function (){
      console.log(this.$route.params.name)
      if (this.$route.params.name == ":Bandid"){
        console.log("This is my name Champ")
      }
      if (this.$route.params.name == ":bee"){
        console.log("This is my name Bee")
      }
    }
  },
  beforeMount(){
    this.onload()
  }
}
</script>

<style>
.about {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.nav-link{
  font-size: 34px;
  font-weight: 700;
  align-content: center;
  color: blue;
}
.img-show{
  height: 300px;
  width: 350px;
}
</style>
