<template>
  <div class="hello.world">
    <img class = "img-show" :src="imageName">
    <!-- <router-view/> -->
    <h2>This is {{ page_name }}</h2>
    <h2><router-link class="nav-link" to="/Home">goto Home</router-link></h2>
    <h2><router-link class="nav-link" to="/About:bee">goto About</router-link></h2>
    <h2><router-link class="nav-link" to="/HelloWorld">goto HelloWorld</router-link></h2>
    <h2><router-link class="nav-link" to="/Tutorial">goto Tutorial</router-link></h2>
  </div>
</template>

<script>

// import image 
import Image1 from '@/assets/HelloWorld/view3.jpg'

export default {
  name: 'HelloWorld',
  data () {
      return {
        imageName : Image1,
        page_name: "HelloWorld"
      }
  }
}
</script>

<style>
.hello.world {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.nav-link{
  font-size: 34px;
  font-weight: 700;
  align-content: center;
  color: blue;
}
.img-show{
  height: 300px;
  width: 350px;
}
</style>
