<template>
  <div class="home">
      <img  class = "img-show" :src="imageName">
      <h2>This is Home</h2>
      <h2>   <router-link class="nav-link" to="/Home">goto Home</router-link>  </h2>
      <h2>   <router-link class="nav-link" to="/About:Bandid">goto About</router-link>  </h2>
      <h2>   <router-link class="nav-link" to="/HelloWorld">goto HelloWorld</router-link>  </h2>
      <h2>   <router-link class="nav-link" to="/Tutorial">goto Tutorial</router-link>  </h2>

      <input v-model="value_inputBox" class = "ipb-model" @input="Handler_somethings" @change="Handler_somethings"  placeholder="input name for route"/>
      <button class='btn-showabout' v-on:click= "handlers_click">
        Goto About
      </button>

      <!-- using params -->
      <input v-model="value_inputBox" class = "ipb-model" @input="Handler_somethings" @change="Handler_somethings"  placeholder="input name for route"/>
      <button class='btn-showabout' v-on:click= "handlers_click">
        Goto About
      </button>

  </div>
</template>

<script>

  // import image
  import imageHome1 from '@/assets/Home/view2.jpg'
  import Router from 'vue-router'
  import Vue from 'vue'
  import About from '@/components/About'

  Vue.use(Router)

  export default {
    name: "Home",
    data () {
      return {
        imageName: imageHome1,
        value_inputBox: ""
      }
    },
    methods: {
      handlers_click: function(){
        this.$router.push({
          path: '/About:' + this.value_inputBox, 
        });
      },
      Handler_somethings({ type, target }){
        const event = {
          type,
          isCheckbox: target.type === 'checkbox',
          target: {
            value: target.value,
            checked: target.checked
          }
        }
        if (event.type === "input"){
          console.log(event.target.value.indexOf("/"));
          if (event.target.value.indexOf("/") !== -1){
            this.value_inputBox = "";
          }
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.home {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.nav-link{
  font-size: 34px;
  font-weight: 700;
  align-content: center;
  color: blue;
}
.img-show{
  height: 300px;
  width: 350px;
}
.btn-showabout{
  width: 150px;
  height: 30px;
  color : black;
  background-color: bisque;
  font-size: 18px;
  border: solid 1px #000000;
}
.ipb-model{
  width: 260px;
  height: 30px;
  font-size: 20px;
  border: solid 1px #000000;
  padding-left: 10px;
}
</style>
