<template>
  <div class="home">
      <img  class = "img-show" :src="imageName">
      <h2> Login </h2>
      <input class= "txt-input" type = 'text'/><br>
      <input class= "txt-input" type = "password"/>
  </div>
</template>

<script>

  // import image
  import imageHome1 from '@/assets/Auth/logo1.png'
  import Router from 'vue-router'
  import Vue from 'vue'
  import About from '@/components/About'

  Vue.use(Router)

  export default {
    name: "login",
    data () {
      return {
        imageName: imageHome1,
        value_inputBox: ""
      }
    },
    methods: {
      handlers_click: function(){
        this.$router.push({
          path: '/About:' + this.value_inputBox, 
        });
      },
      Handler_somethings({ type, target }){
        const event = {
          type,
          isCheckbox: target.type === 'checkbox',
          target: {
            value: target.value,
            checked: target.checked
          }
        }
        if (event.type === "input"){
          console.log(event.target.value.indexOf("/"));
          if (event.target.value.indexOf("/") !== -1){
            this.value_inputBox = "";
          }
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .home {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        border: solid 1px #1d78b8;
        width: 650px;
        height: 500px;
        position: absolute;
        margin-left: 36%;
        border-radius: 6px;
    }
    .img-show{
        height: 200px;
        width: 200px;
    }
    .txt-input{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        margin-top: 20px;
        width: 200px;
        height: 22px;
        border-radius: 4px;
        border: solid 1px #1d78b8;
    }
</style>
